.title {
	display: flex;
	margin-top: 2%;
	font-size: 28px;
	font-weight: bold;
}

.title-button {
	display: flex;
	background-color: white;
	border: lightgray;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	align-items: center;
	font-size: 20px;
	justify-content: end;
}
